{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Add category{% endblock %}


{% block navlist %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add products
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{{url_for('products.addproduct')}}">Add product</a>
      <a class="dropdown-item" href="{{url_for('products.addbrand')}}">add brand</a>
      <a class="dropdown-item" href="{{url_for('products.addcategory')}}">add category</a>
    </div>
  </li>
{%endblock%}
{% block main %}

<div class="row text-center padding">
    <div class="col row justify-content-center ">
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.name) }}
            <input class="btn btn-primary" type="submit" value="Add category">
          </form>
    </div>
</div>

{% endblock %}